##
# Source perameters for the given sequence
#  -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath: owlii/Vox11/dancer/dancer_vox11_%04d.ply
geometry3dCoordinatesBitdepth: 11
geometryNominal2dBitdepth: 8
frameCount: 128
startFrameNumber: 1
groupOfFramesSize: 32
minNormSumOfInvDist4MPSelection: 0.36
partialAdditionalProjectionPlane: 0.15
minimumImageWidth: 2560
