##
# Source perameters for the given sequence
#  -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath: Technicolor/queen/frame_%04d.ply
frameCount: 250
startFrameNumber: 0
groupOfFramesSize: 32

# for lossless TMC2
minimumImageHeight: 1472
