##
# Source perameters for the given sequence
#  -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath: 8i/8iVFBv2/redandblack/Ply/redandblack_vox10_%04d.ply
geometry3dCoordinatesBitdepth: 10
geometryNominal2dBitdepth: 10
frameCount: 300
startFrameNumber: 1450
groupOfFramesSize: 32

# for lossless TMC2
minimumImageHeight: 1280
