##
# Common parameters for all sequences and test categories for use with
# TMC2 according to N17229 common test conditions.
#
# NB: source configuration is found in per-sequence files
# NB: rate point configuration is found in per-rate files

##
# Colour-space transform
# -- NB: for lossless configurations, no conversion is used
colorTransform:                       0

##
# segmentation parameters
# -- NB: enhancedOccupancyMapCode defined below also affects segmentation
nnNormalEstimation:                   16
maxNNCountRefineSegmentation:         1024
iterationCountRefineSegmentation:     10
voxelDimensionRefineSegmentation:     4
searchRadiusRefineSegmentation:       192
occupancyResolution:                  16
minPointCountPerCCPatchSegmentation:  16
maxNNCountPatchSegmentation:          16
surfaceThickness:                     4
maxAllowedDist2RawPointsDetection:    9
maxAllowedDist2RawPointsSelection:    0
lambdaRefineSegmentation:             3

##
# packing paramters
minimumImageWidth:                    1280
minimumImageHeight:                   1280

##
# colouring parameters
bestColorSearchRange:                 2

##
# occupancy map parameters
maxCandidateCount:                    4
occupancyPrecision:                   1

##
# smoothing parameters
flagGeometrySmoothing:                0

##
# lossless parameters
# -- NB: enhancedOccupancyMapCode also affects segmentation
rawPointsPatch:                       1
attributeBGFill:                      3
noAttributes:                         0
attributeVideo444:                    1
enhancedOccupancyMapCode:             1
pbfEnableFlag:                        0
occupancyMapRefinement:               0
flagColorSmoothing:                   0
flagGeometrySmoothing:                0
gridSmoothing:                        0
pointLocalReconstruction:             0
singleMapPixelInterleaving:           0
lossyRawPointsPatch:                  0
flagColorPreSmoothing:                0

# improveEOM: 1
useRawPointsSeparateVideo:            0
mortonOrderSortRawPoints:             0

##
# profile reconstruction idc parameters
profileReconstructionIdc:             1
