##
# Source perameters for the given sequence
#  -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath: 8iVFBv2/longdress/Ply/longdress_vox10_%i.ply
frameCount: 300
startFrameNumber: 1051
groupOfFramesSize: 32
