##
# Configuration of HM for use in the Random Access test conditions
# for TMC2 according to N17229 common test conditions.
#
# -- NB: the following paths will likely need to be overridden by the user

attribute0Config:  hm/ctc-hm-attribute-ra-T0.cfg
attribute1Config:  hm/ctc-hm-attribute-ra-T1.cfg
