##
# Configuration of HM for use in the Random Access test conditions
# for TMC2 according to N17229 common test conditions.
#
# -- NB: the following paths will likely need to be overridden by the user

geometryConfig:      shm/shm-geometry-ld-2L.cfg
attributeConfig:     shm/shm-attribute-ld-2L.cfg
occupancyMapConfig:  hm/ctc-hm-occupancy-map-ld-main10.cfg
