##
# Configuration of HM for use in the Random Access test conditions
# for TMC2 according to N17229 common test conditions.
#
# -- NB: the following paths will likely need to be overridden by the user

constrainedPack:        0
globalPatchAllocation:  0
geometryConfig:         shm/shm-geometry-ai-2L.cfg
attributeConfig:        shm/shm-attribute-ai-2L.cfg
occupancyMapConfig:     hm/ctc-hm-occupancy-map-ai-main10.cfg
