##
# Configuration of HM for use in the Random Access test conditions
# for TMC2 according to N17229 common test conditions.
#
# -- NB: the following paths will likely need to be overridden by the user

absoluteD1:          0
geometry0Config:     hm/ctc-hm-geometry-ld-lossless-D0.cfg
geometry1Config:     hm/ctc-hm-geometry-ld-lossless-D1.cfg
attributeConfig:     hm/ctc-hm-attribute-ld.cfg
occupancyMapConfig:  hm/ctc-hm-occupancy-map-ld-main-scc.cfg
